@page "/cc-lists"
@using IronJournal.Shared;
@using IronJournal.ViewModels.Lists;

@inherits BaseComponent<CCListsPageModel>

<h1>Conflict Chamber Lists</h1>

@if(this.ViewModel?.ConflictChamberLists == null) 
{
  <div class="loader"></div>  
}
else  if(this.ViewModel?.ConflictChamberLists != null)
{
  <button class="btn btn-primary" @onclick="@(async () => await ViewModel.AddNewList())">Add List</button>
  <table  class="table">
    <thead>
      <th>List Name</th>
      <th>Faction</th>
      <th>Caster</th>
      <th>Theme</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </thead>
    @foreach(var list in ViewModel.ConflictChamberLists)
    {
      <tr>
        <td>@list.Model.Name</td>
          <td>@list.ConflictChamberData.Faction</td>
          <td>@list.ConflictChamberData.Lists[0].Caster</td>
          <td>@list.ConflictChamberData.Lists[0].Theme</td>
          <td>@list.ConflictChamberData.Lists[0].Points</td>
        <td><a href="@list.ConflictChamberData.Url" target="_blank">View List</a></td>
        <td><a href="javascript:void(0)" @onclick="@(async () => await ViewModel.DeleteList(list))">Delete</a></td>
      </tr>
    }
  </table>
}