@page "/cc-lists"
@using IronJournal.Shared;
@using IronJournal.ViewModels.Lists;

@inherits BaseComponent<CCListsPageModel>
@attribute [Authorize]

<h1>Conflict Chamber Lists</h1>

@if(this.ViewModel?.ConflictChamberLists == null) 
{
  <div class="loader"></div>  
}
else  if(this.ViewModel?.ConflictChamberLists != null)
{
  <button class="btn btn-primary" @onclick="@(async () => await ViewModel.AddNewList())">Add List</button>
  <table  class="table">
    <thead>
      <th>List Name</th>
      <th>Faction</th>
      <th>Caster</th>
      <th>Theme</th>
      <th>Points</th>
      <th></th>
      <th></th>
    </thead>
    @foreach(var list in ViewModel.ConflictChamberLists)
    {
      <tr>
        <td>@list.Name</td>
          <td>@list.Faction</td>
          <td>@list.Caster</td>
          <td>@list.Theme</td>
          <td>@list.Points</td>
        <td>
          @if(!string.IsNullOrEmpty(list.ConflictChamberLink)) {
          <a href="@list.ConflictChamberLink" target="_blank">View CC List</a>
          }
          </td>
        <td><a href="javascript:void(0)" @onclick="@(async () => await ViewModel.DeleteList(list))">Delete</a></td>
      </tr>
    }
  </table>
}