@page "/cc-lists"
@using IronJournal.Shared;
@using IronJournal.ViewModels.Lists;

@inherits BaseComponent<CCListsPageModel>

<h1>Conflict Chamber Lists</h1>

@if(this.ViewModel?.ConflictChamberLists == null) 
{
  <div class="loader"></div>  
}
else  if(this.ViewModel?.ConflictChamberLists != null)
{
  <table  class="table">
    <thead>
      <th>List Name</th>
      <th>Faction</th>
      <th>Caster</th>
      <th>Theme</th>
      <th>Points</th>
      <th></th>
      <th><a href="javascript:void(0)" @onclick="@(async () => await ViewModel.AddNewList())">Add List</a></th>
    </thead>
    @foreach(var list in ViewModel.ConflictChamberLists)
    {
      <tr>
        <td colspan="5">@list.Model.Name</td>
        <td><a href="@list.ConflictChamberData.Url" target="_blank">View List</a></td>
        <td><a href="javascript:void(0)" @onclick="@(async () => await ViewModel.DeleteList(list))">Delete</a></td>
      </tr>
      foreach(var sublist in list.ConflictChamberData.Lists)
      {
        <tr>
          <td></td>
          <td>@list.ConflictChamberData.Faction</td>
          <td>@sublist.Caster</td>
          <td>@sublist.Theme</td>
          <td>@sublist.Points</td>
          <td></td>
          <td></td>
        </tr>
      }
    }
  </table>
}