@page "/games/edit/{Parameter:int}"

@using IronJournal.Shared;
@using IronJournal.ViewModels.Games;

@inherits BaseComponent<int, AddGamePageModel>
@attribute [Authorize]

<h1>Add Game</h1>
@if(ViewModel.IsLoading) 
{
    <div class="loader"></div>  
}
else 
{
    <EditForm Model="@ViewModel" OnValidSubmit="@ViewModel.OnSave" class="form-horizontal" role="form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container">

            <DateField Label="Date" @bind-Value="ViewModel.Date" InputId="gameDateInput"/>           

            <Select2SelectorField Label="Scenario" Id="scenarioSelect"
                @bind-Value="@ViewModel.SelectedScenarioId"
                Datasource="ViewModel.ScenarioOptions"
                ValidationFor="@(() => ViewModel.SelectedScenarioId)" />

            <Select2SelectorField Label="Initiative" Id="initiativeSelect"
                @bind-Value="@ViewModel.SelectedInitiativeId"
                Datasource="ViewModel.InitiativeOptions"
                ValidationFor="@(() => ViewModel.SelectedInitiativeId)" />

            <Select2SelectorField Label="Game Result" Id="resultSelect"
                @bind-Value="@ViewModel.SelectedGameResultId"
                Datasource="ViewModel.GameResultOptions"
                ValidationFor="@(() => ViewModel.SelectedGameResultId)" />

            <Select2SelectorField Label="Your List" Id="listSelect"
                @bind-Value="@ViewModel.SelectedListId"
                Datasource="ViewModel.ListOptions"
                ValidationFor="@(() => ViewModel.SelectedListId)" />

            <IntField Label="Control Points" InputId="cpInput" @bind-Value="ViewModel.ControlPoints"/>

            <StringField Label="Opponent" InputId="opponentInput" @bind-Value="ViewModel.Opponent" />

            <StringField Label="Opponents List" InputId="opponentListInput" @bind-Value="ViewModel.OpponentsListUrl" />

            @if(ViewModel.OpponentsConflictChamberList != null) 
            {
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                    <p>Faction: @ViewModel.OpponentsConflictChamberList.Faction</p>
                    <p>Caster: @ViewModel.OpponentsConflictChamberList.Lists[0].Caster</p>
                    <p>Theme: @ViewModel.OpponentsConflictChamberList.Lists[0].Theme</p>
                    </div>
                </div>
            }

            <IntField Label="Opponents Control Points" InputId="ocpInput" @bind-Value="ViewModel.OpponentControlPoints"/>

            <MultilineTextField  Label="Comments" InputId="commentsInput"  @bind-Value="ViewModel.Comments"/>

        <SaveCancelButtons IsSaving="ViewModel.IsSaving" CancelRedirect="/Games" />

        </div>

    </EditForm>
}